.c-page-list {
  .c-page-body {
  }
  .c-page-header {
    padding: 0 24px;
    margin: 8px 0;
    background: var(--bg);
    .title {
      font-size: 18px;
      line-height: 1;
      font-weight: 700;
    }
  }

  .c-page-search {
    padding: 24px 24px 0;
    margin-bottom: 12px;
    background: var(--bg);
  }
  .c-page-table {
  }
}
