.z-table {
  padding: 0 14px;
  background: var(--bg);
  color: var(--color);
  .z-table-header {
    padding: 16px 0;
  }
  .z-table-name {
    color: var(--color);
    font-weight: 500;
    font-size: 16px;
  }
}
