.button-switch {
  background: var(--bg) !important;
}
.theme-icon {
  fill: var(--color);
  background: var(--bg);
  transform: all 0.3s;
  svg {
    width: 12px;
    height: 12px;
  }
  &.dark {
    left: calc(100% - 21px);
  }
  &.light {
    left: 2px;
  }
}
